body{
  background-color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(208, 100%, 71%);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(208, 68%, 40%);
}
.cardText{
 color: white; font-size: 2lvw;padding:0.5lvw;text-align: center;
}
.cardBody{
  border-radius: 1lvw; width: 15lvw; height: 30lvw; background-color:  hsl(208, 100%, 71%);
}
@media only screen and (max-width: 600px){
  /*for mobile*/
    header{
      display: none;
    }
    
  }
  @media only screen and ( min-width:600px){
    footer{
      display:none;
    }
  }
  .flex-container {
    display: flex;
    justify-content: space-around;
    background-color: hsl(208, 100%, 71%);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 4px;
    font-size: 2lvW;
  }
  label{
    color:white;
  } 
  .flex-container >div >a{
    text-decoration: none;
  }